<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<!-- below limits the stylesheet to controller-specific rules -->
<body class ='<%= controller.controller_name %>'>

<%= yield %>

</body>
</html>
