<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<form action="/line_items" method="post">

<% @products.each do |product| %>
  <div class="entry">
	<%= image_tag(product.image_url) %>
	<h3><%= product.title %></h3>
	<%= sanitize(product.description) %>
	<div class="price_line">
	  <span class="price"><%= number_to_currency(product.price) %></span>
          <input type="checkbox" name="vehicle" value=<%=product.id%> /> 
	</div>
       
  </div>

 <% end %>
 
 <input type="text" id="product_id">
 <input type="text" name="phone" value="" />

 <input type="submit" value="Submit" />

</form>

